<h1>Listing Topics</h1>
<h2>Ruby飯kksjdjkjsdkdjsskdsjdjdjkwjkl</h2>
<td><%= link_to 'Show', show_topic_path(topic) %></td>
<td><%= link_to 'Edit', edit_topic_path(topic) %></td>
<%= link_to 'New Topic', new_topic_path %>